{% extends "base.html" %}

{% block content %}
    <div class="text-center">
        {% from "macros.html" import render_field %}
        <form action="" method="post">
            <h1 class="text-center"> {{ title_form }}</h1>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {{ render_field(form.title) }}
            {{ render_field(form.members) }}
            {{ render_field(form.email) }}
            {{ message }}
            <p>{{ form.submit(type="submit", class="btn btn-secondary") }}</p>
        </form>
    </div>
{% endblock %}